.todoapp{
    background: #fff;
    margin: 100px 25% 0 25%;
    border-style: solid;
    border-color: cyan;
    border-width: 20px 30px;
    border-radius:10px;
    padding:40px 25px;
    position: relative;
    text-align: center;
  }
  .todoInput{
    width: 400px;
  height: 24px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  }
  .addButton{
    display: inline-block;
  background-color: #fc999b;
  color: #ffffff;
  border-radius: 7px;
  text-align: center;
  padding: 5px 15px;
  margin-left: 4px;
  margin-top: 2px;
  cursor: pointer;
  }
  .commonButton{
    display: inline-block;
  background-color: #b2b3cc;
  color: #ffffff;
  border-radius: 7px;
  text-align: center;
  padding: 5px 15px;
  margin-left: 4px;
  margin-top: 2px;
  cursor: pointer;
  }
  h1 {
    font-weight: bolder;
    text-align: left;
    margin-top: 0;
  }
  h3 {
    font-style: italic; 
    text-align: left;
  }

  ol li {
    text-align: left;
  }

  div.odd{
    text-align: left;
    margin: 0;
    border: 40px;
    height: 25px;
  }
  div.even {
    text-align: left;
    background-color: rgb(204, 255, 255);
    margin: 0;
    border: 40px;
    height: 25px;
  }

  .finishedItem {
    color: #8f8f8f;
    font-size: 16px;
    text-decoration: line-through;
  }  

  .todoItem {
    font-size: 16px;
  }

  .statusbtn{
    background-color: #ffffff;
    color: #fc999b;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
  }

  .deletebtn {
    width: 20px;
    height: 25px;
    font-size: 14px;
    color: #e22727;
    background: none;
    border: none;
    /* position: relative; */
    float: right;
    /* display: none; */
  }

  .home-head{
    /* margin: 2%; */
    height: 50px;
    background-color: rgb(174, 152, 226);
  }

  .home-left{
    float:left;
    width:250px;
    height: 600px;
    background-color: rgb(233, 135, 135);
  }

  .home-right{
    margin-left:250px;
    background-color: rgb(194, 216, 216);
    height: 600px;
  }